@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --jet: #353535ff;
  --ming: #3c6e71ff;
  --white: #ffffffff;
  --gainsboro: #d9d9d9ff;
  --indigo-dye: #284b63ff;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--indigo-dye);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-weight: bold;
}

.calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.calc-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid var(--white);
  outline: none;
  background-color: var(--gainsboro);
}

.calc-grid > button:hover {
  background-color: var(--white);
}

.span-two {
  grid-column: span 2;
}

.all-clear {
  color: var(--ming);
}
.delete {
  color: red;
}

.output {
  grid-column: 1 / -1;
  background-color: var(--jet);
  opacity: 0.75;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: var(--gainsboro);
  font-size: 1.5rem;
  opacity: 0.5;
}
.output .current-operand {
  color: var(--white);
  font-size: 2.5rem;
}
