@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --background-color: #495867ff;
  --primary-color: #577399ff;
  --secondary-color: #bdd5eaff;
  --text-color: #f7f7ffff;
  --highlight-color: #fe5f55ff;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.calc-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  outline: none;
  background-color: var(--primary-color);
  opacity: 0.75;
}
